<header class="clearfix">
	<div class="max-width-4 mx-auto">
	<div class="md-flex lg-flex items-center">
		<a href="/" class="logo">LiveFile</a>
	<nav class="flex-auto">
		<a href="/">Features</a>
		<a href="/">Use Cases</a>
		<a href="/blog" class="last">Blog</a>
	</nav> 
	<a href="#" class="join medium xs-hide sm-hide">Join the Waitlist</a>
	<a href="#" class="join medium button md-hide lg-hide">Waitlist</a>
	<a href="#" class="toggle"><img src="https://icon.now.sh/more_vert/24/1F0166" class="md-hide lg-hide" alt=""></a>
	</div>
	</div>
</header>